*.o
*.d
sqlxtc-server
sqlxtc-server-amalg
amalg/
test_vfs
test_vfs_loop
test_vfs_amalg
test_pcache
test_pcache_amalg
test_concurrency
test_admin
test_mem
test_wal
test_shard
test_mvcc
test_xstore
sql_parse_gen.c
sql_parse_gen.h
sql_parse_gen.out
sqlite3.o
/build/
test_parallel
test_bufmgr
test_btnode
test_btree
test_bufmgr_mt
test_scan_resist
test_btree_loop
test_btree_loop
test_btree_mt
test_wal_recover
test_persist
test_cursor_resume
