*.o
*.d
sqlxtc-server
sqlxtc-server-amalg
amalg/
test_admin
test_wal
test_shard
test_mvcc
test_xstore
test_xstore_scan
test_xlog
/build/
test_bufmgr
test_btnode
test_btree
test_bufmgr_mt
test_scan_resist
test_btree_loop
test_btree_mt
test_wal_recover
test_torn_smo
test_wal_compact
test_persist
test_cursor_resume
test_clean_restart
test_steal
test_steal_leaf
test_steal_page
test_steal_torn
test_recover_undo
test_redo_page
test_inplace_redo
test_fuzzy_checkpoint
test_btree_delete_merge
test_savepoint
test_native_txn
test_isolation
test_bufmgr_dio
bm_writeback_bench
bt_merge_bench
/sql_grammar.c
/sql_grammar.h
sql_grammar.out
sql_parse_gen.out
bench_btree_concurrent
numa_claim_probe
evict_policy_proto
